* {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: #fff;
  color: #0C4767;
  background-image: url('/assets/gradientes.png');
  background-repeat: no-repeat;
  background-position: top right;
}

/* Estilizando o header e o nav */
header {
  background-color: transparent;
  padding: 10px 16px;
  color: #fff;
  border-radius: 20px;
  border: #0C4767 solid 1px;
}

/* Criando o espaçamento do body */
.container {
  padding: 40px 8%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Estilizando a imagem */
nav img {
  max-height: 50px;
  object-fit: contain;
}

/* Estilizando a lista do menu */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  margin: 0 15px;
}

ul li a {
  color: #2A2A2A;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

ul li a:hover {
  font-weight: 600;
}

/* Estilizando o botão */
button {
  background-color: #0C4767;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Estilizando o item ativo */
ul li.active a {
  font-weight: bold;
  position: relative;
}

/* Adicionando a bolinha embaixo do item ativo */
ul li.active a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #2A2A2A;
}

.profile {
  display: flex;
  margin: 50px 0px;
}

.labels {
  padding: 60px;
}

#profile-pic {
  width: auto;
  height: auto;
}

/* Estilizando as labels */
#hello {
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#cargo {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 12px
}

/* Estilizando o contêiner dos botões */
.social-buttons {
  display: flex;
  gap: 15px;
  justify-content: start;
  padding: 20px 0px;
}

/* Estilizando cada botão */
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: #0C4767;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  transition: background-color 0.3s, color 0.3s;
}

.social-button:hover {
  background-color: #f0f0f0;
  color: #0C4767;
}

#description {
  margin-top: 20px;
}

/* Estilizando o contêiner da fita */
.tech-ribbon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  gap: 30px;
  border: #0C4767 solid 1px;
}

/* Estilizando cada ícone */
.tech-ribbon i {
  color: #0C4767;
  font-size: 36px;
  margin: 10px;
  transition: color 0.3s, transform 0.3s;
}

/* Efeito de hover para os ícones */
.tech-ribbon i:hover {
  color: #007bff;
  transform: scale(1.2);
}

.produtos {
  display: flex;
  gap: 20px;
  margin: 20px 0px;
}

/* Estilizando o contêiner com a imagem de fundo */
.background-container {
  width: 649.95px;
  height: 328.63px;
  padding: 18.31px;
  background-image: url("/assets/figura1.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 18.31px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  gap: 14.65px;
}

/* Estilizando o conteúdo de texto */
.text-content {
  text-align: left;
  color: white;
  width: 100%;
}

/* Estilizando o título */
.title {
  font-size: 21.97px;
  font-weight: 500;
  line-height: 26.36px;
  letter-spacing: 0.02px;
  word-wrap: break-word;
}

/* Estilizando a descrição */
.description {
  font-size: 15.56px;
  font-weight: 400;
  line-height: 20.14px;
  letter-spacing: 0.07px;
  word-wrap: break-word;
  margin-top: 20px;
}

/* Estilizando a div do portfólio */
.portfolio {
  margin-top: 30px;
}

.projects {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

/* Estilos do cartão do projeto */
.project-card {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 320px;
  overflow: hidden;
  text-align: left;
  padding: 20px;
  margin-top: 20px;
  transition: transform 0.3s ease-in-out;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-image img {
  width: 100%;
  border-radius: 12px;
}

.project-content {
  padding: 20px 0 0;
}

.project-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.project-content p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

/* Estilos das tags */
.tags {
  display: flex;
  justify-content: initial;
  gap: 10px;
  margin-bottom: 20px;
}

.tags span {
  background-color: #e0e0e0;
  border-radius: 12px;
  padding: 5px 10px;
  font-size: 12px;
  color: #333;
}

/* Estilos do botão */
.button-project {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 100%;
}

button:hover {
  background-color: #555;
}

/* Conteúdo da página de construção */
.construction-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  margin-top: 120px;
}

.construction-content h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}

.construction-content p {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.construction-content img {
  max-width: 50%;
  height: auto;
}
/* Estilos do botão */
.back-button {
  display: inline-block;
  background-color: #0C4767;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #0056b3;
}
/* Estilos para o menu hambúrguer */
.hamburger {
  display: none; /* Ocultar o menu hambúrguer por padrão */
  cursor: pointer;
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hamburger div {
  width: 100%;
  height: 5px;
  background-color: #333;
  border-radius: 3px;
}

/* Estilos para o menu quando estiver visível */
.nav-menu {
  display: flex; /* Mostrar o menu como uma lista horizontal por padrão */
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-menu li {
  margin: 0 10px;
}
.nav-menu a {
  text-decoration: none;
  color: #333;
}
.hamburger{
  display: none;
}

/* Esconda o menu padrão e configure o menu hambúrguer para mobile */
@media (max-width: 768px) {
  .hamburger {
    display: flex; /* Mostrar o menu hambúrguer em dispositivos móveis */
  }
  .nav-menu {
    display: none; /* Ocultar o menu de navegação por padrão em dispositivos móveis */
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px; /* Ajuste conforme necessário */
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .nav-menu.active {
    display: flex; /* Mostrar o menu quando ativo */
  }
  .nav-menu li {
    margin: 20px 0;
    text-align: center;
  }
  .curriculo-button {
    display: none; /* Mostrar o botão de currículo no mobile */
  }
  .profile{
    flex-wrap: wrap;
  }
  .labels{
    padding: 10px;
  }
  #profile-pic{
    width: 100%;
  }
  .projects{
    justify-content: center;
  }
}

/* Página de Sobre Mim */
.formacao{
  margin-top: 30px;
}

.itens{
display: flex;
justify-content: space-between;
gap: 12px;
margin-top: 30px;
flex-wrap: wrap;
}

.card-form{
  border: #0C4767 solid 1px;
  border-radius: 20px;
  padding: 20px;
  width: 26%;
  background-color: #0C4767;
}

.icon-card{
 height: 40px;
}

h3{
  margin-bottom: 6px;
  color: #fff;
}

.work{
  margin-top: 30px;
}

.form-content p{
  color: #fff;
}
.resume{
  border: #0C4767 solid 1px;
  padding: 20px;
  border-radius: 20px;
}
.resume{
  background-color: #0C4767;
  color: #fff;
  text-align: justify;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card-form{
    width: 80%;
  }
}

/* Página de projetos */

/* Estilo do card */
.projeto-card {
  /* max-width: 450px;  */
  margin: 20px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.projeto-card:hover {
  transform: scale(1.05);
}

.projeto-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
}

.image-container img {
  width: 100%;
  height: auto;
}

.projeto-info {
  background-color: #0C4767;
  color: white;
  padding: 20px;
  text-align: left;
}

.projeto-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.projeto-info p {
  font-size: 16px;
  opacity: 0.8;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .projeto-card {
      max-width: 100%;
      margin: 10px;
  }

  .projeto-info h2 {
      font-size: 20px;
  }

  .projeto-info p {
      font-size: 14px;
  }
}