@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  font-family: "Inter", sans-serif;
}
:root {
  --bg: #f5f5f5;
  --bg-secundary: #fff;
  --bg-dark: #1e1e1e;
  --border-dark: #333333;
  --blue-color: #3563eb;
  --blue-accent: #007bff;
  --text-primary: #18171e;
  --text-secondary: #818898;
  --transition: all 0.3s ease;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg);
  color: var(--text-primary);
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: var(--text-primary);
}

header {
  padding: 10px 0px;
  z-index: 10;
}

/* Criando o espaçamento do body */
.container {
  padding: 20px 12%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Estilizando a imagem */
nav img {
  max-height: 50px;
  object-fit: contain;
}

/* Estilizando a lista do menu */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  margin: 0 15px;
}

ul li a {
  color: #2a2a2a;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

ul li a:hover {
  font-weight: 600;
}

#logo {
  font-size: 30px;
  color: var(--blue-color);
  font-weight: 800;
}

/* Estilizando o botão */
button {
  background-color: var(--blue-accent);
  border: none;
  color: var(--bg-secundary);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--blue-color);
  color: #fff;
}

/* Estilizando o item ativo */
ul li.active a {
  font-weight: bold;
  position: relative;
}

/* Adicionando a bolinha embaixo do item ativo */
ul li.active a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
}

.profile {
  display: flex;
  margin: 50px 0px;
  gap: 20px;
}

.box {
  background-color: var(--bg-secundary);
  color: var(--text-primary);
  border-radius: 20px;
}

.labels {
  padding: 3rem;
}

#profile-pic {
  border-radius: 16px;
}

.profile-pic {
  background-color: var(--bg-secundary);
  border-radius: 20px;
  padding: 20px;
}

#nome {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 14px;
}

#cargo {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 14px;
}

/* Estilizando as labels */
#hello {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#blue {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--blue-color);
}

#description {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
}

/* Estilizando o contêiner dos botões */
.social-buttons {
  display: flex;
  gap: 15px;
  justify-content: start;
  padding: 0rem 3rem 3rem 3rem;
  background-color: var(--card-dark);
  border-radius: 0.5rem;
}

/* Estilizando cada botão */
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
  color: #2563eb;
  font-size: 24px;
  transition: background-color 0.3s, color 0.3s;
}

.social-button:hover {
  background-color: #f0f0f0;
  color: #2563eb;
  border-radius: 0.5rem;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Estilizando os títulos*/
#titulo {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#sub-titulo {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin-top: 1rem;
  letter-spacing: -0.02rem;
}

/* Estilizando o conteúdo de texto */
.text-content {
  text-align: left;
  color: #fff;
  width: 100%;
}

/* Estilizando o título */
.title {
  font-size: 21.97px;
  font-weight: 500;
  line-height: 26.36px;
  letter-spacing: 0.02px;
  word-wrap: break-word;
}

/* Estilizando a descrição */
.description {
  font-size: 15.56px;
  font-weight: 400;
  line-height: 20.14px;
  letter-spacing: 0.07px;
  word-wrap: break-word;
  margin-top: 20px;
}

/* Estilizando a div do portfólio */
.portfolio,
.experiencias {
  margin-top: 30px;
}

.projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* Estilos do cartão do projeto */
.project-card {
  background-color: var(--bg-secundary);
  border-radius: 1rem;
  width: 400px;
  overflow: hidden;
  text-align: left;
  padding: 20px;
  margin-top: 20px;
  transition: transform 0.3s ease-in-out;
  flex-grow: 1;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-image img {
  width: 100%;
  border-radius: 12px;
}

.project-content {
  padding: 20px 0 0;
}

.project-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--text-primary);
  font-weight: 400;
}

.project-content p {
  font-size: 16px;
  color: var(--text-secondary);
  margin-bottom: 20px;
}

/* Conteúdo da página de construção */
.construction-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  margin-top: 120px;
}

.construction-content h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}

.construction-content p {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.construction-content img {
  max-width: 50%;
  height: auto;
}

/* Estilos do botão */
.back-button {
  display: inline-block;
  background-color: #2563eb;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 12px;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #0056b3;
}

/* Estilos para o menu hambúrguer */
.hamburger {
  display: none;
  /* Ocultar o menu hambúrguer por padrão */
  cursor: pointer;
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger div {
  width: 100%;
  height: 5px;
  background-color: var(--blue-color);
  border-radius: 3px;
}

/* Estilos para o menu quando estiver visível */
.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  margin: 0 20px;
}

.nav-menu a {
  text-decoration: none;
  color: var(--text-primary);
}
/* Ícone de Fechar (X) - esconder no desktop */
.nav-menu .close-menu {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  text-align: right;
  display: none; /* Escondido por padrão */
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  width: 30px;
}

/* Esconda o menu padrão e configure o menu hambúrguer para mobile */
@media (max-width: 768px) {
  .hamburger {
    display: flex !important;
    /* Mostrar o menu hambúrguer em dispositivos móveis */
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    background-color: #2563eb;
    z-index: 999;
  }

  .nav-menu a {
    color: var(--bg-secundary);
    font-size: 26px;
  }

  .nav-menu.active {
    display: flex !important;
    border-radius: 10px;
    /* Mostrar o menu quando ativo */
  }

  .nav-menu li {
    margin: 2rem;
    text-align: left;
  }

  .curriculo-button {
    display: none;
    /* Mostrar o botão de currículo no mobile */
  }

  .profile {
    flex-wrap: wrap;
  }

  #profile-pic {
    width: 100%;
  }
  #hello,
  #blue,
  #titulo {
    text-align: center;
    font-size: 2rem;
  }
  .social-buttons {
    justify-content: center;
  }
  #description,
  #sub-titulo,
  .text-area {
    text-align: center;
  }
  .box {
    width: 100%;
  }
  .experiencias {
    width: 100%;
  }

  .projects {
    justify-content: center;
    flex-direction: column;
  }
  /* Ícone de Fechar (X) */
  /* Mostrar o X no mobile */
  .nav-menu .close-menu {
    display: block;
  }
}

/* footer */

.footer-credits {
  margin: 20px 0;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  background-color: var(--bg-secundary);
}

/*página de projetos internos*/
.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--bg-secundary);
  border-radius: 1rem;
  margin-top: 40px;
}

.conteudo h2 {
  font-size: 3rem;
  color: #333;
  margin: 60px 0px;
  text-align: center;
  width: 100%;
}

.conteudo img {
  width: 100%;
}

/* Página de Sobre Mim */

.section-title {
  font-size: 1.8rem;
  color: #222;
  padding: 0px 0px 30px 0px;
}

.timeline {
  position: relative;
  margin-left: 20px;
  border-left: 2px solid #4e73df;
  padding-left: 20px;
  margin-bottom: 40px;
}

.timeline-item {
  position: relative;
  margin-bottom: 30px;
}

.timeline-dot {
  width: 14px;
  height: 14px;
  background-color: #4e73df;
  border-radius: 50%;
  position: absolute;
  left: -29px;
  top: 5px;
}

.timeline-content h3 {
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: #1f1f1f;
}

.timeline-content p {
  font-size: 0.95rem;
  color: #555;
}

.resume-text {
  background: #ffffff;
  padding: 20px;
  margin-bottom: 40px;
  border-left: 4px solid #4e73df;
}

.resume-text p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.jobs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.job-card {
  background: #ffffff;
  padding: 16px 20px;
  border-left: 4px solid #4e73df;
}

.job-card h3 {
  font-size: 1rem;
  margin-bottom: 4px;
}

.job-card p {
  font-size: 0.9rem;
  color: #666;
}
.card-job {
  margin-top: 30px;
  background: #fff;
  border-radius: 20px;
  padding: 30px;
  transition: all 0.3s ease;
}

/* Estilos para o grid das experiências */

.grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

.card {
  background: #fff;
  border-radius: 20px;
  padding: 30px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.icon {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--blue-color);
}

.card-title {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
}

.card-desc {
  color: #333;
  font-size: 0.95rem;
  line-height: 1.5;
}

/* Estilos para os contatos */
.wrapper {
  margin: 50px auto;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  gap: 30px;
}

.text-area {
  flex: 1;
}

.text-area h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.text-area h1 span {
  color: #2563eb; /* Azul */
}

.text-area p {
  margin: 20px 0;
  font-size: 1rem;
  color: #333;
}

.btn {
  display: inline-block;
  background-color: #2563eb;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #1e4ed8;
}

.image-area {
  flex: 1;
  text-align: center;
}

.image-area img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 40px;
  border-top: 1px solid #eee;
  background-color: var(--blue-color);
  gap: 16px;
}

.footer a {
  color: var(--bg-secundary);
  font-size: 1.8rem;
  margin-left: 12px;
  text-decoration: none;
  transition: color 0.2s;
}

.footer a:hover {
  cursor: pointer;
  color: var(--bg-secundary);
}

/* Responsivo */
@media (max-width: 768px) {
  .container {
    padding: 10px 4%;
  }
  .profile-pic {
    width: 100%;
  }
  .project-card {
    width: 90%;
  }
  .content {
    flex-direction: column;
    padding: 20px;
  }

  .footer {
    justify-content: center;
    flex-wrap: wrap;
  }
}
